:root {
  --first-color: #ffaaaa;

  --second-color: #e37070;

  --third-color: #c7004c;

  --fourth-color: #8f1537;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "danfo", serif;
  color: var(--third-color);
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h5 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--first-color);
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--third-color);
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--third-color);
  border-radius: 4px;
  color: var(--first-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

nav {
  padding: 20px 0;
}

nav h4 {
  font-size: 34px;
  margin-bottom: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--first-color);
  opacity: 70%;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--third-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--first-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--third-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--third-color);
  background-color: var(--first-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--first-color);
  background-color: var(--third-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h5 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav h4 {
    font-size: 28px;
  }

  nav a {
    font-size: 14px;
  }
}
