:root {
  --first-color: #ffaaaa;

  --second-color: #e37070;

  --third-color: #c7004c;

  --fourth-color: #8f1537;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "danfo", serif;
  color: var(--third-color);
}

h1 {
  font-size: 96px;
}

.hero {
  background: var(--first-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--third-color);
}

.btn-branding {
  background: var(--third-color);
  border-radius: 4px;
  color: #ffaaaa;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
